<template>
  <div class="page-wrapper">
    <div class="content-wrapper">
      <main-view></main-view>
    </div>
  </div>
</template>

<script lang="ts">
  import "halfmoon/css/halfmoon.min.css";
  import "halfmoon/js/halfmoon.min.js";
  import "remixicon/fonts/remixicon.css";

  import MainView from "./components/MainView.vue";
  export default {
    components: {MainView}
  }
</script>
