<template>
  <button :type="props.type || 'button'" role="button" :class="props.class" :disabled="isLoading" @click="execute()">
    <div class="spinner" v-if="isLoading"><i class="ri-loader-4-line"></i></div>
    <div><slot></slot></div>
  </button>
</template>
<style>
  button {
    position: relative;
  }
  button>.spinner {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    display: flex; justify-content: center; align-items: center;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg) scale(1.5);
    }
    to {
      transform: rotate(360deg) scale(1.5);
    }
  }
  button>.spinner>i {
    animation: spin 1s linear infinite;
  }
  button>.spinner ~ * {
    opacity: 0;
  }
</style>
<script lang="ts" setup>
import {defineProps, ref} from "vue";

const props = defineProps({
  type: String,
  class: String,
  clickHandler: Function,
});

const isLoading = ref(false);

async function execute() {
  isLoading.value = true;
  try {
    if (props.clickHandler) {
      await props.clickHandler();
    }
    await new Promise<void>(res => setTimeout(() => res(), 400));
    isLoading.value = false;
  } catch (e) {
    await new Promise<void>(res => setTimeout(() => res(), 400));
    isLoading.value = false;
    throw e;
  }
}

defineExpose({
  execute,
});
</script>
