<template>
  <subject-editor @save="load()" id="subject-editor" ref="subjectEditor"></subject-editor>
  <div class="container-fluid" style="padding: 0 1px 1px 0;" ref="mainContainer">
    <div id="date-selection"
         class="bg-light bg-dark-light-dm border rounded-top input-group flex-wrap justify-content-center p-15">
      <div class="input-group-prepend">
        <button class="btn btn-square" type="button" @click="moveStart(false)"><i class="ri-arrow-left-line"></i>
        </button>
      </div>
      <div class="dropdown input-group-prepend">
        <button class="btn d-flex justify-content-center" data-toggle="dropdown" type="button"
                id="date-selection-dropdown"
                style="width: 19em"
                aria-haspopup="true"
                aria-expanded="false">
          <i class="ri-calendar-line mr-5"></i>
          ab {{ dateHelpers.formatDate(startDate) }}
          <i class="ri-arrow-down-s-line ml-5"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="date-selection-dropdown">
          <div class="dropdown-content d-flex">
            <button type="button" class="btn btn-square flex-shrink-0 mr-5" @click="today()"
                    title="Zurück zum heutigen Tag">
              <i class="ri-delete-back-2-line"></i>
            </button>
            <select class="form-control mr-5" :value="currentListOfDays[dateHelpers.DAYS_BACK].getMonth()"
                    @change="updateMonth($event.target.value)"
                    title="Monat auswählen">
              <option value="0">Januar</option>
              <option value="1">Februar</option>
              <option value="2">März</option>
              <option value="3">April</option>
              <option value="4">Mai</option>
              <option value="5">Juni</option>
              <option value="6">Juli</option>
              <option value="7">August</option>
              <option value="8">September</option>
              <option value="9">Oktober</option>
              <option value="10">November</option>
              <option value="11">Dezember</option>
            </select>
            <input type="number" inputmode="numeric" min="1000" max="9999" pattern="[0-9]*" required
                   class="form-control"
                   style="width: 5em"
                   :value="startDate.getFullYear()"
                   @input="$event.target.checkValidity() && updateYear($event.target.value)"
                   title="Jahr auswählen">
          </div>
        </div>
      </div>
      <div class="input-group-append">
        <button class="btn btn-square" type="button" @click="moveStart(true)"><i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </div>

    <div class="border-left border-right bg-white bg-dark-dm" style="overflow-x: hidden;">
      <table class="calendar table table-inner-bordered">
        <thead>
        <tr style="border-bottom-color: transparent">
          <th></th>
          <th
              v-for="month in currentListOfMonthStarts" :key="month.date.getTime()"
              :colspan="month.span"
              class="date">
            <small>{{ month.date.getFullYear() }}</small>
            <div
                style="font-weight: bold; font-size: 1.2em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
              {{ dateHelpers.MONTHS[month.date.getMonth()] }}
            </div>
          </th>
        </tr>
        <tr ref="dateHeadings">
          <th></th>
          <th
              v-for="day in currentListOfDays" :key="day.getTime()"
              :class="{'is-weekend': dateHelpers.isWeekend(day), 'is-today': dateHelpers.isToday(day), 'is-sunday': dateHelpers.isSunday(day)}"
              class="date">
            <small>{{ dateHelpers.WEEKDAYS[day.getDay()] }}</small>
            <div style="letter-spacing: 1px; font-weight: bold; font-size: 1.2em;">{{ day.getDate() }}</div>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="subject in subjects" :key="subject.id">
          <td class="d-flex">
            <button type="button" @click="editSubject(subject)"
                    class="btn btn-square rounded-circle mr-10 p-0 d-flex flex-shrink-0 justify-content-center align-items-center"
                    style="font-size: 1.9rem;"
                    :style="{ backgroundColor: subject.color, color: new Color(subject.color).isDark() ? '#fff' : '#000' }">
              <i :class="[subject.icon]"></i>
            </button>
            <div style="padding: 0.5rem 0 0">
              <strong>{{ subject.id }}</strong>
              <small v-if="subject.description"><br>{{ subject.description }}</small>
            </div>
          </td>
          <td v-for="day in currentListOfDays" :key="day.getTime()">
              <span v-if="isReserved(subject.id, day)"
                    class="btn btn-square rounded-circle mr-10 p-0 d-flex justify-content-center align-items-center"
                    style="background-color: yellow;">
                <i class="ri-calendar-check-line"></i>
              </span>
            <span v-else
                  class="btn btn-square rounded-circle mr-10 p-0 d-flex justify-content-center align-items-center"
                  style="background-color: lightgreen;">
                <i class="ri-calendar-line"></i>
              </span>
          </td>
        </tr>
        <tr>
          <td>
            <a
                href="#subject-editor"
                @click="subjectEditor.reset()"
                role="button"
                class="btn btn-primary btn-square rounded-circle"
                title="Ausleihobjekt hinzufügen"
            >
              <i class="ri-add-fill"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="bg-light bg-dark-light-dm text-muted p-10 border rounded-bottom">
      <i class="ri-calendar-check-fill" style="color: #6CB132"></i>
      powered by <a href="https://codeberg.org/WuKS/reservator" target="_blank">reservator</a>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {ref, reactive, onMounted, computed} from "vue";
import {api} from "../api";
import Color from "color";
import {dateHelpers} from "../helpers/date-helpers";
import {EntReservation, EntSubject} from "../api-client";
import SubjectEditor from "./SubjectEditor.vue";

const startDate = ref<Date>(new Date(Date.now() - dateHelpers.DAYS_BACK * 24 * 3600 * 1000));
const subjects = reactive<EntSubject[]>([]);
const reservations = reactive<EntReservation[]>([]);

const subjectEditor = ref<typeof SubjectEditor | null>(null);
const dateHeadings = ref<HTMLTableRowElement>(document.createElement("tr"));

async function load() {
  subjects.splice(0, subjects.length, ...(await api.subject.listSubjects()));
  reservations.splice(0, reservations.length, ...(await api.reservation.listReservations({
    start: dateHelpers.formatDateISO(startDate.value),
    days: dateHelpers.MAX_DAYS_COUNT,
  })));
}

// This is to allow embedding as an iFrame with flexible height.
// For an example, see https://jsbin.com/teyikerege/edit?html,output
const mainContainer = ref<HTMLElement>(null);
window["updateHeight"] = () => {
  let modalHeight = document.querySelector(".modal:target>.modal-dialog>.modal-content")?.offsetHeight;
  if (modalHeight) modalHeight += 59;
  window.parent.postMessage({
    reservatorHeight: (modalHeight || mainContainer.value?.offsetHeight || 249) + 1,
}, "*");
};
window["updateHeightObserver"] = new ResizeObserver(window["updateHeight"]);

onMounted(async () => {
  window["updateHeight"]();
  window["updateHeightObserver"].observe(mainContainer.value);
  window.addEventListener("hashchange", () => setInterval(window["updateHeight"]));
  await load();
});

function editSubject(subject: EntSubject): void {
  window.location.hash = "#subject-editor";
  subjectEditor.value?.edit(subject);
}


function isReserved(subjectID: string, date: Date): boolean {
  let subjectReservations = reservations.filter((res: EntReservation): boolean => res.edges?.subjects?.some(subject => subject.id === subjectID) || false)

  for (let i = 0; i < subjectReservations.length; i++) {
    let endDate = new Date(subjectReservations[i].end)
    let beginDate = new Date(subjectReservations[i].begin)
    if (endDate.getTime() < date.setHours(0, 0) || date.setHours(23, 59) < beginDate.getTime()) continue
    // Event doesn't start after today or ends before today, so it has to take place today
    return true;
  }
  return false;
}

function reservationText(subjectID: string, date: string) {
  let x: EntReservation[];
  x = reservations.filter((reservation: EntReservation): boolean => reservation.begin.split("T")[0] === date.split("T")[0])
  x = x.filter((reservation: EntReservation): boolean => reservation.edges?.subjects?.some(subject => subject.id === subjectID) || false);
  if (x.length === 0) return "frei";
  return "reserviert";
}

const currentListOfDays = computed<Date[]>(() => dateHelpers.listOfDays(startDate.value));
const currentListOfMonthStarts = computed(() => currentListOfDays.value.reduce((p, c, i) => {
  if (i === 0 || c.getDate() === 1) {
    p.push({date: c, span: 1});
  } else if (p.length > 0) {
    p[p.length - 1].span++;
  }
  return p;
}, [] as { date: Date, span: number }[]));

// move startdate in one direction.
async function moveStart(forward: boolean) {
  let numVisibleDays = Array.from(dateHeadings.value.children).findIndex(dayColumn =>
      ((dayColumn as HTMLTableCellElement).offsetLeft + (dayColumn as HTMLTableCellElement).offsetWidth) > document.body.offsetWidth
  );
  const daysBack = numVisibleDays <= 0 || numVisibleDays >= 9 ? dateHelpers.DAYS_BACK + 1 : 1;
  numVisibleDays -= daysBack;
  if (numVisibleDays <= 0) numVisibleDays = dateHelpers.MAX_DAYS_COUNT - daysBack;

  const newDate = new Date(startDate.value.getTime());
  newDate.setDate(newDate.getDate() + numVisibleDays * (forward ? 1 : -1));
  startDate.value = newDate;
  await load();
}

async function today() {
  const threeDaysAgo = new Date(Date.now() - dateHelpers.DAYS_BACK * 24 * 3600 * 1000);
  const newDate = new Date(startDate.value.getTime());
  newDate.setDate(threeDaysAgo.getDate());
  newDate.setMonth(threeDaysAgo.getMonth());
  newDate.setFullYear(threeDaysAgo.getFullYear());
  startDate.value = newDate;
  await load();
}

async function updateMonth(month: number) {
  const newDate = new Date(startDate.value.getTime());
  newDate.setMonth(month);
  newDate.setDate(1 - dateHelpers.DAYS_BACK);
  startDate.value = newDate;
  //this.$forceUpdate();
  await load()
}

async function updateYear(year: number) {
  if (isNaN(year)) year = new Date().getFullYear();
  if (year < 1000) year = 1000;
  if (year > 9999) year = 9999;
  const newDate = new Date(startDate.value.getTime());
  newDate.setFullYear(year);
  startDate.value = newDate;
  //this.$forceUpdate();
  await load()
}
</script>

<style>
.calendar th, .calendar td {
  padding: 0.75rem 1rem;
}

.calendar .date {
  min-width: 4.75rem;
  max-width: 4.75rem;
}

.calendar th {
  font-weight: normal;
}

.calendar th.is-weekend {
  font-weight: bold;
}

.calendar thead th.is-weekend {
  font-weight: bold;
  box-shadow: inset 0 -0.75rem 0 rgba(0, 0, 0, 0.05);
}

.calendar thead th.is-sunday {
  font-weight: bold;
  color: #a65;
}

.calendar thead th.is-today {
  font-weight: bold;
  color: #1890ff;
}

@media (max-width: 576px) {
  #date-selection > :not(.dropdown) {
    order: -1;
    flex-basis: 50%;
  }

  #date-selection > :not(.dropdown) > .btn {
    width: 100% !important;
  }

  #date-selection > .dropdown {
    flex-basis: 100%;
    margin-top: 1.0rem;
  }

  #date-selection > .dropdown > .btn {
    border-radius: 0.4rem !important;
    width: 100% !important;
  }
}

.modal:target ~ * {
  filter: blur(1px);
}

.modal {
  background: rgba(236, 240, 241, 0.6);
}

.modal-content > .close {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.dark-mode .modal {
  background: rgba(37, 40, 44, 0.6);
}

.dark-mode .modal-content > .close {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
}
</style>
