<template>
  <div class="dropdown d-block">
    <button class="btn d-flex w-full" data-toggle="dropdown" type="button" id="remixicon-dropdown-toggle"
            aria-haspopup="true"
            aria-expanded="false">
      <i :class="[value]"></i>
      <div class="mx-5">{{ name }}</div>
      <i class="ri-arrow-down-s-line ml-auto"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="remixicon-dropdown-toggle"
         style="max-height: 300px; overflow-y: scroll;">
      <div class="dropdown-content">
        <input class="form-control" v-model="searchString" placeholder="Suche">
        <div class="custom-checkbox mt-10">
          <input type="checkbox" id="remixicon-fill-checkbox"
                 :checked="version === 'fill'"
                 @change="value = 'ri-' + name + '-' + ($event.target.checked ? 'fill' : 'line')">
          <label for="remixicon-fill-checkbox">Symbol ausfüllen</label>
        </div>
      </div>
      <div v-for="category in searchResults">
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">{{ category.name }}</h6>
        <div class="d-flex flex-wrap px-5 pb-5">
          <button v-for="icon in category.icons" type="button" class="btn btn-sm btn-square"
                  style="width: 2.78rem; height: 2.78rem; line-height: 2.78rem; font-size: 1.6rem;"
                  :class="name === icon ? ['btn-primary', 'z-50'] : ['border-0', 'shadow-none']"
                  :title="icon"
                  @click="value = 'ri-' + icon + '-' + version">
            <i :class="['ri-' + icon + '-' + version]"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import tags from "../assets/remixicon-tags.json";
import {computed, ref, watch} from "vue";
import Fuse from "fuse.js";

// value handling, see https://v3.vuejs.org/guide/component-basics.html#using-v-model-on-components

const props = defineProps({
  modelValue: String,
});
const emit = defineEmits(["model-input"]);

const value = ref(props.modelValue || "");
let valueJustChanged = false;
watch(props.modelValue, (newValue, oldValue) => {
  if (newValue !== oldValue) {
    valueJustChanged = true;
    value.value = newValue;
  }
});
watch(value, (newValue, oldValue) => {
  if (newValue !== oldValue && !valueJustChanged) emit("update:model-value", newValue);
  valueJustChanged = false;
});

// name & version (fill/line) are computed from the current value

const name = computed(() => (value.value || "").substr(3).replace(/-line$|-fill$/, ""));
const version = computed(() => (value.value || "").match(/-line$/) ? "line" : "fill");

// everything for the search function

const searchableTags = Object.keys(tags).filter(x => x != "_comment" && x != "Editor").reduce((p, category) => {
  const icons = Object.keys((tags as any)[category]).reduce((p, icon) => p.concat([{
    name: icon,
    tags: (tags as any)[category][icon] as String[],
  }]), new Array<{ name: String, tags: String[] }>());
  return p.concat([{
    name: category,
    icons,
    search: new Fuse(icons, {
      threshold: 0.3,
      includeScore: true,
      keys: [
        "name",
        "tags"
      ]
    }),
  }]);
}, new Array<{ name: String, icons: Array<{ name: String, tags: String[] }>, search: Fuse<{ name: String, tags: String[] }> }>());
const searchString = ref("");
const searchResults = computed(() => searchableTags.map(category => {
  const result = searchString.value ? category.search.search(searchString.value) : [];
  return {
    name: category.name,
    icons: (searchString.value ? result.map(x => x.item) : category.icons).map(x => x.name),
    topScore: searchString.value ? Math.max(...result.map(x => x.score)) : 0,
  };
}).filter(x => x.icons.length).sort((a, b) => a.topScore - b.topScore));
</script>
