<template>
  <div class="modal rounded" :id="props.id" tabindex="-1" role="dialog">
    <div class="modal-dialog rounded" role="document">
      <div class="modal-content shadow-lg" ref="modalContent">
        <a href="#" class="close" role="button" aria-label="Schließen">
          <span aria-hidden="true">&times;</span>
        </a>
        <h5 class="modal-title" v-if="!editedId">Objekt erstellen</h5>
        <h5 class="modal-title" v-else>Objekt bearbeiten</h5>
        <div class="form-group">
          <label for="subject-id" class="required">Name:</label>
          <input v-model="subject.id" type="text" class="form-control" id="subject-id" required="required">
        </div>
        <div class="form-group">
          <label for="subject-description">Beschreibung:</label>
          <textarea v-model="subject.description" class="form-control" id="subject-description"></textarea>
        </div>
        <div class="form-group">
          <label for="subject-icon">Symbol:</label>
          <remix-icon-picker v-model="subject.icon" id="subject-icon"></remix-icon-picker>
        </div>
        <div class="form-group">
          <label for="subject-color">Farbe:</label>
          <input v-model="subject.color" type="color" class="form-control" id="subject-color">
          <div class="form-text">
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #ab4642" @click="subject.color = '#ab4642'" title="Rot" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #dc9656" @click="subject.color = '#dc9656'" title="Orange" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #f7da78" @click="subject.color = '#f7da78'" title="Gelb" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #a1b56c" @click="subject.color = '#a1b56c'" title="Grün" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #86c1b9" @click="subject.color = '#86c1b9'" title="Türkis" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #7c9fe2" @click="subject.color = '#7c9fe2'" title="Blau" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #ba8baf" @click="subject.color = '#ba8baf'" title="Violett" tabindex="-1"
            ></button>
            <button
                type="button" role="button" class="btn btn-sm btn-square rounded-circle ml-5"
                style="background: #a16946" @click="subject.color = '#a16946'" title="Braun" tabindex="-1"
            ></button>
          </div>
        </div>
        <div class="form-group">
          <label for="admin-password" class="required">Admin Password:</label>
          <input v-model="adminPassword" type="password" class="form-control" id="admin-password" required="required"
                 @keypress.enter="submitButton?.execute();">
        </div>

        <div class="alert alert-danger" role="alert" v-if="error">
          <h4 class="alert-heading">Ein Fehler ist aufgetreten</h4>
          {{ error }}
        </div>

        <div class="d-flex mt-20">
          <loading-button type="button" class="btn btn-square btn-danger mr-5" :click-handler="remove" v-if="editedId"
                          title="Objekt löschen">
            <i class="ri-delete-bin-2-fill"></i>
          </loading-button>
          <button type="reset" role="button" class="btn ml-auto mr-5" @click="close();">
            Abbrechen
          </button>
          <loading-button type="submit" class="btn btn-primary" :click-handler="save" ref="submitButton">
            Speichern
          </loading-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import {EntSubject} from "../api-client";
import {defineExpose, onMounted, reactive, ref} from "vue";
import {api} from "../api";
import RemixIconPicker from "./RemixIconPicker.vue";
import LoadingButton from "./LoadingButton.vue";
import {formatError} from "../helpers/error-helpers";

const modalContent = ref<HTMLElement>(null);
onMounted(async () => {
  window["updateHeightObserver"].observe(modalContent.value);
});

const emit = defineEmits(["save"]);
const props = defineProps({
  id: String,
});

const submitButton = ref<typeof LoadingButton | null>(null);

const error = ref(null as (string | null));

const adminPassword = ref("");
const editedId = ref("");
const subject = reactive(<EntSubject>{});
reset();

async function save() {
  try {
    error.value = null;
    if (editedId.value === "") {
      await api.subject.createSubject({
        subject: subject,
        authorization: "Bearer " + adminPassword.value,
      });
    } else {
      await api.subject.updateSubject({
        id: editedId.value,
        subject: subject,
        authorization: "Bearer " + adminPassword.value,
      });
    }
    reset();
    close();
    emit("save");
  } catch (e) {
    error.value = await formatError(e);
  }
}

async function remove() {
  if (!confirm("Das Objekt \"" + editedId.value + "\" wird gelöscht - sind Sie sicher?")) {
    return;
  }
  try {
    error.value = null;
    await api.subject.deleteSubject({
      id: editedId.value,
      authorization: "Bearer " + adminPassword.value,
    });
    close();
    emit("save");
  } catch (e) {
    error.value = await formatError(e);
  }
}

function reset() {
  subject.id = "";
  subject.description = "";
  subject.icon = "ri-focus-2-line";
  subject.color = "#ecf0f1";
  editedId.value = "";
  adminPassword.value = "";
}

function edit(editedSubject: EntSubject) {
  subject.id = editedSubject.id;
  subject.description = editedSubject.description;
  subject.icon = editedSubject.icon;
  subject.color = editedSubject.color;
  editedId.value = editedSubject.id;
  adminPassword.value = "";
}

function close() {
  reset();
  window.location.hash = "#";
}

defineExpose({
  reset,
  edit,
  close,
});
</script>
